{% extends 'base.html' %}
{% load static %}
{% block title %}Email sent{% endblock %}
{% block bodyId %}Password recovery{% endblock %}
{% block headerContent %}<span id="logo" ></span>
		<span id="menu_haut">
			<button id="but_login" title="Sign in" >Sign in</button>
		</span>
{% endblock %}
{% block content %}
<div id="form_connexion">
  <p>
    Your password has been set. You may go ahead and <strong><a href="../../connexion/">sign in</a></strong> now.
  </p>
</div>
{% endblock %}
{% block js_additionnal_sources %}
<script type="text/javascript" src="{% static "js/nav.js" %}"></script>
{% endblock %}