{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot password{% endblock %}
{% block bodyId %}loginPage{% endblock %}
{% block headerContent %}<span id="logo"></span>
		<span id="menu_haut">
			<button id="but_login" title="Sign in">Sign in</button>
		</span>
{% endblock %}
{% block content %}
<div id="form_connexion">
	<form method="post" name="login_form" >{% csrf_token %}
  	<p><h3>Forgot your password ?</h3></p>
    <p>Enter your registered email adress below</p>
  	<table align="center">
    	{{ form.as_table}}
    </table>
    <p><input type="submit" id="but_send" value="Reset my password"/></p>
  </form>
</div>
{% endblock %}
{% block js_additionnal_sources %}
<script type="text/javascript" src="{% static "js/nav.js" %}"></script>
{% endblock %}
