{% extends 'base.html' %}
{% load static %}
{% block title %}
  {% if validlink %}
    Change your password
  {% else %}
    Invalid link
  {% endif %}
{% endblock %}
{% block bodyId %}Password recovery{% endblock %}
{% if not validlink %}
  {% block headerContent %}<span id="logo" ></span>
      <span id="menu_haut">
        <button id="but_login" title="Sign in" >Sign in</button>
      </span>
  {% endblock %}
{% endif %}
{% block content %}
<div id="form_connexion">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" id="but_send" value="Set a new password"/></p>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>
{% endblock %}
{% block js_additionnal_sources %}
<script type="text/javascript" src="{% static "js/nav.js" %}"></script>
{% endblock %}
