{% extends 'base.html' %}
{% load static %}
{% block title %}Email sent{% endblock %}
{% block bodyId %}Password recovery{% endblock %}
{% block headerContent %}<span id="logo" ></span>
		<span id="menu_haut">
			<button id="but_login" title="Sign in" >Sign in</button>
		</span>
{% endblock %}
{% block content %}
<div id="form_connexion">
  <p>
    We've emailed you instructions for setting your incognito password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p><strong>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.</strong>
  </p>
</div>
{% endblock %}
{% block js_additionnal_sources %}
<script type="text/javascript" src="{% static "js/nav.js" %}"></script>
{% endblock %}